<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Admin panel</title>
    <meta charset="utf-8"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link type="text/css" href="/static/css/profile.css"
          th:href="@{/static/css/profile.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
            <ul class="sidenav admin-sidenav list-unstyled">
                <li><a href="#"><span th:text="#{manage.users}"></span></a></li>
                <li><a href="#"><span th:text="#{manage.orders}"></span></a></li>
                <li><a href="#"><span th:text="#{manage.bills}"></span></a></li>
                <li><a href="#"><span th:text="#{add.train}"></span></a></li>
                <li><a href="login"><span th:text="#{profile.log.out}"></span></a></li>
            </ul>
        </div> <!-- /#admin-sidebar -->
        <div id="admin-main-control" class="col-md-10 p-x-3 p-y-1">
            <div class="content-title m-x-auto">
                <i class="fa fa-dashboard"></i> <span th:text="#{user.welcome}"></span>
            </div>
            <p class="display-4">Administrator management panel</p>
            </p>
        </div>
        <div id="main-control" class="col-md-10 p-x-3 p-y-5">
            <div class="content-title m-x-auto">
                <ul>
                    <li><a href="?lang=en"><span th:text="#{switch.en}"></span></a></li>
                    <li><a href="?lang=ua"><span th:text="#{switch.ua}"></span></a></li>
                    <li><a href="?lang=ru"><span th:text="#{switch.ru}"></span></a></li>
                </ul>
            </div>
            </p>
        </div>
    </div>
</div>
</body>
</html>