<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Railway ticket booking</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/modernizr.custom.js"></script>
    <link  href="../../static/css/default.css"
          th:href="@{/css/default.css}" rel="stylesheet"  media="screen"/>
    <link href="../../static/css/component.css"
          th:href="@{/css/component.css}" rel="stylesheet"  media="screen"/>
</head>
<body>
<div class="container">
    <img src="http://i.piccy.info/i9/b869ed99199dbc216732e7b323ecd45f/1582457398/16646/1364039/train_logo_400px.jpg"
         alt=""  width="399" height="98"/>
    <header class="clearfix">

        <span><span th:text="#{app.title}"></span></span>
        <h1><span th:text="#{profile.title}"></span></h1>

        <nav>
            <a href="profile?lang=en" class="bp-icon bp-icon-next" th:data-info="#{switch.en}"><span><span th:text="#{switch.en}"></span></span></a>
            <a href="profile?lang=ua" class="bp-icon bp-icon-drop" th:data-info="#{switch.ua}"><span><span th:text="#{switch.ua}"></span></span></a>
            <a href="profile?lang=ru" class="bp-icon bp-icon-archive" th:data-info="#{switch.ru}"><span><span th:text="#{switch.ru}"></span></span></a>
        </nav>
    </header>
    <div class="main">
        <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
            <div class="cbp-hsinner">
                <ul class="cbp-hsmenu">
                    <li><a href="/user/makeOrder"><span th:text="#{profile.make.order}"></span></a></li>
                    <li><a href="/user/trains"><span th:text="#{profile.tran.schedule}"></span></a></li>
                    <li><a href="/user/tickets"><span th:text="#{profile.my.tickets}"></span></a></li>
                    <li><a href="/user/bill"><span th:text="#{profile.my.bills}"></span></a></li>
                    <li><a href="/user/orders"><span th:text="#{profile.my.orders}"></span></a></li>
                    <li><a href="/logout"><span th:text="#{profile.log.out}"></span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>