<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login page</title>
    <meta charset="utf-8" />
<!--    <link rel="stylesheet" href="static/css/error.css" th:href="@{/static/css/error.css}" />-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css" href="../static/css/error.css"
          th:href="@{css/error.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="error-text">
                    <div>
                        <h2>Error 404. &nbspOops you've have encountered an error</h2>
                        <p>
                            It appears that Either something went wrong or the page doesn't exist anymore..<br />
                            This website is temporarily unable to service your request as it has exceeded it’s resource limit. Please check back shortly.
                        </p>
                        <p>
                            If you have any questions, please contact our Technical Support department.
                        </p>
                    </div>
                    <a href="login" class="btn btn-primary btn-round">Go to login page</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>